<div class="cropper">
  <div class="cropper-container">
    <img src={{image}}>
  </div>
  <div class="cropped">
    <div class="cropped-avatar">
      {{croppedAvatar}}
    </div>
    Cropped Avatar
  </div>
</div>

<button {{action "getCroppedAvatar"}}>Crop Avatar</button>